body::-webkit-scrollbar {
width: 18px;  
}

body::-webkit-scrollbar-track {
background: rgba(29, 57, 44, 0.795);    
}

body::-webkit-scrollbar-thumb {
background-color: rgb(255, 255, 255);
width: 14px;    
}

:root {
--sectionBG: rgb(0,0,0,0.7);
--lightContrast: white;
--H2fontsize: 300%;
--darkBorder: #000000; 
--darkBackgr: #000000;
--lightImpact: 50;
--linkDefaultStyle: none;
--alignCenter: center;
}

header {
padding: 0.01%;
color: var(--lightContrast);
background-color: var(--darkBackgr);
}

header h1 {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: var(--lightImpact);
text-align: var(--alignCenter);
font-size: 500%;
}

.nav-bar-top {
display: flex;    
width: 100%;
list-style: var(--linkDefaultStyle);
background-color: var(--darkBackgr);
padding-bottom: 2%; 
gap: 1.6%;
justify-content: center;
font-size: 110%;
color: var(--lightContrast);
font-family: monospace;
}   

.nav-bar-top a:hover {
font-size: 130%;    
}

.h2-titles {
text-align: var(--alignCenter); 
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
font-weight: var(--lightImpact);
font-size: var(--H2fontsize);      
}

a:not(.myemail) {
text-decoration: var(--linkDefaultStyle);
color: var(--lightContrast);    
}

/* Flexbox container for the about me section - CHECK THIS */

.aboutme {
display: flex;
}

/* About me child elements  - CHECK THIS */

#aboutme-text {
padding: 2%;
width: 80%;
margin-left: 3%;
border: 4px solid var(--darkBorder);
font-family: monospace;
font-size: 15px;
}

#aboutme-img img {
width: 65%;
height: auto;
float: right;
margin-right: 19%;
border: 3px solid rgba(0, 0, 0, 0.795);
box-shadow: 5px 6px rgba(0, 0, 0, 0.712);
}

/* Grid container for the Portfolio section */

.myworkgrid {
min-height: 700px;
margin-left: 2%;
margin-right: 2%;
column-gap: 1%;
row-gap: 2%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-template-areas: 
"top-left top-left top-right"
"top-left top-left middle-right"
"bottom-left bottom-middle bottom-right";
}

/* Grid items within the myWork grid container */

#top-left {
grid-area: top-left;
background-image: url(./images/colvers-8173610_1920.jpg);
}

#top-right {
grid-area: top-right;
background-image: url(./images/game-image.jpg);
}

#middle-right {
grid-area: middle-right;
background-image: url(./images/dog-image.jpg);
}

#bottom-left {
grid-area: bottom-left;
background-image: url(./images/mountains-image.jpg);
}

#bottom-middle {
grid-area: bottom-middle;
background-image: url(./images/rope-image.jpg);
}

#bottom-right {
grid-area: bottom-right;
background-image: url(./images/moon-image.jpg);
}

.work-grid-area {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

#top-left a, #top-right a, #middle-right a, #bottom-left a, 
#bottom-middle a, #bottom-right a {
background-color: rgb(0,0,0,0.7);    
color: var(--lightContrast);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 230%;
float: inline-end;
margin-top: 5%;
padding: 2%;
font-weight: 100;
}

#top-left a:hover, #top-right a:hover, #middle-right a:hover,
#bottom-left a:hover, #bottom-middle a:hover, #bottom-right a:hover {
font-size: 280%;    
}

/* Selectors for the contact me section */

#contactme {    
display: flex;
font-family: monospace;
font-size: 15px;
justify-content: space-evenly;
flex-direction: row;
}

#contact-form {
border: 5px var(--darkBorder) solid;
padding: 3% 5% 5% 5%;
margin: 2%;    
}

.myemail {
padding-top: 30px;
padding-left: 30px;
max-width: 700px; 
margin-bottom: 700px;
line-height: 1.7; 
font-size: 30px;
text-decoration: none;
color: black;    
}

#myemail {
line-height: 1.7; 
font-size: 30px;
color: black;
text-decoration: underline;
}

input[type=text] {
padding: 10px;
margin-top: 8px;
margin-bottom: 10px;
border: 3px solid;
width: 300px;
max-width: 300px;
}

input[type=email] {
padding: 10px;
margin-top: 8px;
margin-bottom: 25px;
border: 3px solid;
width: 300px;
}

textarea {
margin-top: 4%;
border: 3px solid;
resize:none;
height: 300px;
width: 600px;
position: relative;
}

input[type=submit] {
padding: 3%;
width: 100%;
font-family: monospace;
background-color: var(--darkBackgr);
color: var(--lightContrast);
cursor:pointer;
text-decoration: none;
}

/* Footer section, including social links  */

.footer-section {
padding: 1%;     
text-align: var(--alignCenter); 
background-color: var(--darkBackgr);
color: var(--lightContrast);
font-family: monospace;   
}

.footer-section a h5 {
font-family: monospace;
font-size: 15px;      
}

.footer-section a h5:hover {
text-decoration: underline;    
}

.social-links p {   
display: none;     
}

.fa {
padding: 0.5%;
text-align: var(--alignCenter);
text-decoration: none;
font-size: 50px;
}
  
.fa:hover {
opacity: 0.7;
}

/* Media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
body { 
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media only screen and (orientation: landscape) {

}