
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* Root properties for CSS Variables  */
:root {
--light-contrast: white;
--h2fontsize: 300%;
--darkborder: #000000; 
--darkbackgr: #000000;
--lightimpact: 50;
--linkdefault: none;
--aligncenter: center;
--section-margins: 0% 2% 0% 2%;
}

/* Declarations for the header section, including H1 title and navigation bar */
header {
padding: 3% 2% 1% 2%;    
background-color: var(--darkbackgr);
color: var(--light-contrast);
}

h1 {    
text-align: center;  
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: var(--lightimpact);
font-size: 500%;
}

header p {
text-align: center;  
padding-bottom: 2%;    
font-family: monospace; 
font-size: 130%; 

}

.nav-bar-top ul {   
list-style: var(--linkdefault);
display: flex;
justify-content: space-evenly;
font-family: monospace;
font-size: 110%;
}   

.nav-bar-top a:hover {
font-size: 130%;    
}

/* Applies custom properties to all H2 titles on page */
.h2-titles {
padding: 1.5%;    
text-align: var(--aligncenter); 
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
font-weight: var(--lightimpact);
font-size: var(--h2fontsize);      
}

/* Applies custom text-decoration and colour properties to all link attributes */
a {
text-decoration: var(--linkdefault);
color: var(--light-contrast);    
}

main {
background-color: white;    
}

/* Flexbox container for the About me section */
.aboutme {
display: flex;
gap: 5%;
margin: var(--section-margins)
}

/* About me child elements, including text box and image */
#aboutme-text {
display: flex;
flex-wrap: wrap;
width: 100%;
padding: 0.5% 0.5% 0.5% 1%;   
border: 4px solid var(--darkborder);
font-family: monospace;
font-size: 120%;
}

#aboutme-img img {
width: 100%;    
border: 3px solid rgba(0, 0, 0, 0.795);
box-shadow: 5px 6px rgba(0, 0, 0, 0.712);
}

/* Grid container for the Portfolio section */
.myworkgrid {
height: 700px;
margin: var(--section-margins);
margin-bottom: 1%;
column-gap: 1%;
row-gap: 2%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-template-areas: 
"top-left top-left top-right"
"top-left top-left middle-right"
"bottom-left bottom-middle bottom-right";
}

/* Grid items within the Portfolio grid container */
#top-left {
grid-area: top-left;
background-image: url(./images/colvers-image.jpg);
}

#top-right {
grid-area: top-right;
background-image: url(./images/game-image.jpg);
}

#middle-right {
grid-area: middle-right;
background-image: url(./images/dog-image.jpg);
}

#bottom-left {
grid-area: bottom-left;
background-image: url(./images/mountains-image.jpg);
}

#bottom-middle {
grid-area: bottom-middle;
background-image: url(./images/rope-image.jpg);
}

#bottom-right {
grid-area: bottom-right;
background-image: url(./images/moon-image.jpg);
}

.work-grid-area {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.work-grid-area h3 {
float: inline-end;
margin-top: 5%;
padding: 2%;    
background-color: rgb(0,0,0,0.7);    
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: var(--light-contrast);
font-size: 230%;
font-weight: 100;
}


#top-left:hover, #top-right:hover, #middle-right:hover, #bottom-left:hover, 
#bottom-middle:hover, #bottom-right:hover {
-webkit-transform: scale(1.0);
-ms-transform: scale(1.0);
transform: scale(1.0);
font-size: 130%;
position: relative;
}

/* Declarations for the whole Contact section */
.contactme {    
display: flex;
max-width: 100%;
justify-content: space-evenly;
font-family: monospace;
font-size: 110%;
}

/* Declarations for the contact form input fields section */
#contact-form {
border: 5px var(--darkborder) solid;
padding: 3% 5% 5% 5%;
margin: 2%; 
min-width: 50%;
}

/* Contact form input boxes */
input[type=text] {
padding: 1.75%;
margin-top: 1%;
margin-bottom: 1.5%;
border: 3px solid;
width: 50%;
}

input[type=email] {
padding: 1.75%;
margin-top: 1%;
margin-bottom: 4%;
border: 3px solid;
width: 50%;
}

textarea {
margin-top: 2%;
border: 3px solid;
resize:none;
height: 300px;
width: 100%;
}

input[type=submit] {
padding: 3%;
width: 100%;
font-family: monospace;
background-color: var(--darkbackgr);
color: var(--light-contrast);
cursor:pointer;
text-decoration: none;
}

/* Social media and email icons/links */
.alternativecontact {
padding: 1.75% 5% 1.5% 3%;
font-size: 195%;
text-decoration: none;
color: black;
}

#contact-me-socials a {
display: flex; 
padding-left: 1%;
padding-top: 6%;
line-height: 1.9;
color: #000000;
}

#contact-me-socials address {
font-family: monospace;
font-style: normal;
}

/* Footer section, including social links and link back to top of page */
.footer-section {
padding: 1%;     
text-align: var(--aligncenter); 
background-color: var(--darkbackgr);
color: var(--light-contrast);
font-family: monospace;   
}

.footer-section h4 {
padding-top: 0.8%;    
}

/* Back to the top of the page link */
.footer-section a h5 {
padding-top: 1.3%;    
font-family: monospace;
font-size: 15px;      
}

.footer-section a h5:hover {
text-decoration: underline;    
}

/* Social media icons in footer section */
.fa {
padding: 0.5%;
text-align: var(--aligncenter);
text-decoration: none;
}
  
.fa:hover {
opacity: 0.7;
}

/* Hidden elements */
.smallscreenemail, .smallestscreen, .social-links p {
display: none;
}