:root {
--sectionBG: rgb(0,0,0,0.7);
--lightContrast: white;
--H2fontsize: 50px;
--darkBorder: #000000; 
--darkBackgr: #000000;
--lightImpact: 50;
}

header {
padding: 0.2%;
color: var(--lightContrast);
background-color: var(--darkBackgr);
}

header h1 {
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: lighter;
text-align: center;
font-size: 500%;
}

#navBar {
display: flex;
width: 100%;
gap: 1.5%;
font-size: 120%;
justify-content: center;
background-color: var(--darkBackgr); 
color: var(--lightContrast);
font-family:monospace;
padding-bottom: 2%; 
list-style: none;
}   

#navBar a {
color: white;    
text-decoration: none;
}

#navBar a:hover {
font-size: 130%;    
}

/* Flexbox container for the about me section */
#aboutTitle {
text-align: center; 
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
font-weight: var(--lightImpact);
font-size: var(--H2fontsize);  
}

#aboutMe {
display: flex;
/* add flex item here to center the text/image, add position auto to all parents for responsiveness */
}

/* About me child elements */

#aboutmeText {
padding: 2%;
border: 4px solid var(--darkBorder);
width: 80%;
margin-left: 3%;
}

#aboutmeImg img {
width: 65%;
height: auto;
border: 3px solid rgba(0, 0, 0, 0.795);
box-shadow: 5px 6px rgba(0, 0, 0, 0.712);
float: right;
margin-right: 19%;
}

/* Grid container for the Portfolio section */

#portfolioTitle {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: var(--lightImpact);
    font-size: var(--H2fontsize); 
}

#myWorkGrid {
min-height: 600px;
margin-left: 2%;
margin-right: 2%;
column-gap: 1%;
row-gap: 2%;
display:grid;
grid-template-columns: auto;
grid-template-rows: auto;
grid-template-areas: 
"topLeft topLeft topRight"
"topLeft topLeft middleRight"
"bottomLeft bottomMiddle bottomRight";
}

/* Grid items within the myWork grid container */

#topLeft {
grid-area: topLeft;
background-image: url(./images/boat-image.jpg);
 
}

#topRight {
grid-area: topRight;
background-image: url(./images/dog-image.jpg);

}

#middleRight {
grid-area: middleRight;
background-image: url(./images/game-image.jpg);

}

#bottomLeft {
grid-area: bottomLeft;
background-image: url(./images/moon-image.jpg);

}

#bottomMiddle {
grid-area: bottomMiddle;
background-image: url(./images/mountains-image.jpg);

}

#bottomRight {
grid-area: bottomRight;
background-image: url(./images/rope-image.jpg);

}

.workGridArea {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
align-items: flex-end;
display: flex;
position: relative; 
}

/* Selectors for the contact me section */

#contactH2 {
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: var(--lightImpact);
font-size: var(--H2fontsize);
}

#contactMe {
text-align: center;
border: 5px var(--darkBorder) solid;
padding: 5%;
margin: 2%;
}

#fname, #lname, #contactEmail, #formAddText {


}

#formAddtText {
width: 70%;
height:300px;
}

#footerSection {
padding: 1%;    
text-align: center; 
background-color: var(--darkBackgr);
color: var(--lightContrast);   
}

@media screen {
    
}